<launch>
    <group>
        <arg name="namespace" default="bluerov2"/>
        <arg name="run_initialization_test" default="True" />

        <node pkg="bbox" exec="init_joy" name="init_joy" namespace="$(var namespace)" output="screen">
            <param name="run_initialization_test" value="$(var run_initialization_test)" />
        </node>

        <node pkg="bbox" exec="mission_controller" name="mission_controller" namespace="$(var namespace)" output="screen">
            </node>

    </group>
</launch>