<launch>
    <arg name="model_path" default="bbox/best.pt"/>
    <arg name="namespace" default="bluerov2"/>

    <group> 
        <push_ros_namespace namespace="$(var namespace)"/>

        <!-- 1. Video Driver Node -->
        <node pkg="bbox" exec="video" name="video" output="screen">
        </node>     

        <!-- 2. YOLO Detection Node -->
        <node pkg="bbox" exec="bbox_yolo_detection" name="bbox_yolo_detection" output="screen">
            <param name="model_path" value="$(var model_path)"/>
            <param name="camera_topic" value="camera/image"/>
            <param name="show_display" value="true"/>
            <param name="conf_thres" value="0.5"/>
            
            <!-- Optional: Set initial target offset here if you know it, e.g. -->
            <param name="target_offset_x" value="0"/>
            <param name="target_offset_y" value="0"/>
        </node>

        <!-- 3. Visual Servoing Node -->
        <node pkg="bbox" exec="bbox_visual_approach" name="bbox_visual_approach" output="screen">
            <!-- Control Gains (Tune these here without changing python code) -->
            <param name="kp_heave" value="0.002"/>
            <param name="kp_yaw" value="0.001"/>
            <param name="kp_surge" value="0.005"/>
            
            <!-- Target Approach Settings -->
            <param name="target_width" value="200.0"/>
        </node>

    </group>
</launch>